header {   
    // padding: 0px 163px 0 163px;
    width: 1114px;
    height: 122px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // margin-bottom: 14px;
    margin: 0 auto 14px auto;
    h1 {
        font-size: 28px;    
        font-family: $ffamily_primary;
        font-weight: 700;
        line-height: 1.5;
    }
    p {
        color: var(--text-secondary);
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 0.5%;
        // line-height: 1.2;
       
    }
    
    // .theme-mode-switch-container {

    // }
}
