/* Dark Mode Toggle */
.theme-mode-switch-container {
    display: flex;
    align-items: center;
  }
  
  .theme-mode-switch-container span {
    margin-right: 15px;
  }
  
  .toggle-text {    
    color: var(--text-secondary);
    font-size: 14px;
    font-weight: 700;
  }
  
  .theme-switch {
    display: inline-block;
    height: 24px;
    position: relative;
    width: 48px;
  }
  
  .theme-switch input {
    display: none;
  }
  
  .slider {
    background: $toggle_light_mode;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: 0.4s;
  }
  
  .slider::before {
    background: #fff;
    bottom: 3px;
    content: "";
    height: 18px;
    right: 3px;
    position: absolute;
    transition: 0.4s;
    width: 18px;
  }
  
  input:checked + .slider {
    background: rgb(55,143,224);
    background: linear-gradient(90deg, rgba(55,143,224,1) 0%, rgba(62,218,130,1) 100%);
  }
  
  input:checked + .slider::before {
    transform: translateX(-24px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round::before {
    border-radius: 50%;
  }
  
 