h2 {
    font-size: 24px;    
    font-family: $ffamily_primary;
    font-weight: 700;
    letter-spacing: 0.2px;
}
a, div, p, header, footer {
    font-family: $ffamily_primary;
    color: var(--text-secondary);
}
